<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Register</h1>
        <div class="space-y-4">
          <form id="register-form" action="/sso/register" method="POST">
            <div class="mb-4">
              <label for="email" class="block text-sm font-medium text-gray-700"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>
            <div class="mb-6">
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>
            <button
              type="submit"
              class="w-full bg-[#0065FF] text-white py-2 rounded hover:bg-blue-600"
            >
              Sign Up
            </button>
          </form>

          <div class="flex items-center justify-center">
            <p class="text">OR</p>
          </div>

          <!-- Google Login Button -->
          <button
            onclick="login('google')"
            class="w-full text-black py-2 rounded hover:bg-gray-100 flex items-center justify-center border"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/281/281764.png"
              alt="Google Icon"
              class="w-6 h-6 mr-2"
            />
            Login with Google
          </button>

          <!-- Facebook Login Button -->
          <button
            onclick="login('facebook')"
            class="w-full text-black py-2 rounded hover:bg-gray-100 flex items-center justify-center border"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/733/733547.png"
              alt="Facebook Icon"
              class="w-6 h-6 mr-2"
            />
            Login with Facebook
          </button>

          <!-- GitHub Login Button -->
          <button
            onclick="login('github')"
            class="w-full text-black py-2 rounded hover:bg-gray-100 flex items-center justify-center border"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/733/733609.png"
              alt="GitHub Icon"
              class="w-6 h-6 mr-2"
            />
            Login with GitHub
          </button>

          <!-- Jira Login Button -->
          <button
            onclick="login('jira')"
            class="w-full text-black py-2 rounded hover:bg-gray-100 flex items-center justify-center border"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/5968/5968875.png"
              alt="Jira Icon"
              class="w-6 h-6 mr-2"
            />
            Login with Jira
          </button>

          <div class="text-center">
            Already have an account?
            <a href="/login" class="text-blue-500">Login</a>
          </div>
          
        </div>
      </div>
    </div>

    <script>
      function login(provider) {
        window.location.href = `/sso/login/${provider}`;
      }
    </script>
  </body>
</html>
